main{
  width: 40%;
  height: 50%;
  margin: 2rem auto;
  position: relative;
  z-index: 1;
}

#title-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* TO DO SECTION */
#to-do-section {
    width: 100%;
}


/* TO DO INPUT */
#input-box {
    width: 100%;
    height: 4rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#to-do-input {
    height: 100%;
    border: none;
    outline: none;
}

input::placeholder{
    font-size: 18px;
    color: #9495A5;
}

/* TASKS GRID */
#tasks-grid{
    background-color: white;
    border-radius: 5px;
}

#to-do-list {
    min-height: 200px;
    max-height: 400px;
    overflow: scroll;
}


/* TASK COMPONENT */
.task{
    padding: 1rem;
    border-bottom: 1px solid #E3E4F1;
    display: flex;
    align-items: center;
}

.task-checkbox{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: 1px solid #E3E4F1;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-checked{
    background: linear-gradient(#55DDFF, #C058F3);
}

.task-description{
    cursor: pointer;
    width: 100%;
}

.completed-task {
    color: #D1D2DA;
    text-decoration: line-through;
}

.delete-button {
    cursor: pointer;
}

.delete-button path:hover{
    fill: red;
}

/* TASK FILTERS */
#task-filters{
    color:#9495A5;
    font-size: 14px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-options{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.filter-option {
    margin: 0px 8px;
    cursor: pointer;
}