main{
  width: 40%;
  height: 50%;
}

#title-section{
    display: flex;
    justify-content: space-between;
}

/* TO DO SECTION */
#to-do-section {
    width: 100%;
}


/* TO DO INPUT */
#input-box {
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
}


/* TASKS GRID */
#tasks-grid{
    background-color: white;
    min-height: 300px;
}